# =========================
# .NET
# =========================
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode / VS
.vs/
.idea/
.vscode/

# Logs
*.log

# SQLite local database
*.db

# Environment variables
.env

# ASP.NET Core

# =========================
# Angular
# =========================
node_modules/
dist/
.angular/
coverage/

# NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db